{% extends "base.html" %}
{% load fraternet_filters %}

{% block content %}
    <div class="col-sm-3">
        <div id="carousel">
            <div>
                <img src="/static/home-carousel/Blazin' Challenge.jpg">
                <img src="/static/home-carousel/Bikes for Tikes.jpg">
                <img src="/static/home-carousel/Bowl for Relay for Life.jpg">
                <img src="/static/home-carousel/Christmas.jpg">
                <img src="/static/home-carousel/ELC.jpg">
                <img src="/static/home-carousel/Faul doing something.jpg">
                <img src="/static/home-carousel/Fire Truck Pull.jpg">
                <img src="/static/home-carousel/Greek of the Year.jpg">
                <img src="/static/home-carousel/Honor Key Awards.jpg">
                <img src="/static/home-carousel/leadership positions.jpg">
                <img src="/static/home-carousel/photo.JPG">
                <img src="/static/home-carousel/Pledge_BOT brunch.jpg">
                <img src="/static/home-carousel/Pumpkin Carving.jpg">
                <img src="/static/home-carousel/Run for Wishes 5k.jpg">
                <img src="/static/home-carousel/Skiing Trip.jpg">
                <img src="/static/home-carousel/Skyfall.jpg">
                <img src="/static/home-carousel/Special Olympics Meal.jpg">
                <img src="/static/home-carousel/Super Bowl.jpg">
                <img src="/static/home-carousel/Talent Show.jpg">
                <img src="/static/home-carousel/Trees.jpg">
                <img src="/static/home-carousel/TriHop.jpg">
                <img src="/static/home-carousel/Up Til Dawn.jpg">
            </div>
        </div>
    </div>


    <div class="col-sm-9" id="calendar">

    </div>

{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.jcarousel.min.js"></script>
    <script src="/static/js/jquery.jcarousel-autoscroll.min.js"></script>
    <script src="/static/js/compiled/Home.js"></script>
{% endblock %}