table.list-view {
	width: 100%;

	thead {
		font-weight: bold;
		border-bottom: #000000 2px solid;
    }

    tbody {
        tr {
            border-bottom: #e6e6e6 1px solid;

	        height: 40px

        }
    }
}