{% extends "base.html" %}
{% load fraternet_filters %}

{% block content %}
    <div class="col-sm-6">
        {% if object.picture %}
        <img src="{{ object.picture.url }}" >
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% if perms.events.change_event %}
            <a href="{% url 'edit_event' pk=object.id %}" class="btn btn-default" id="edit-button">Edit</a>
        {% endif %}
        <h1>{{ object.name }}</h1>

        <p>Start Time: {{ object.start_datetime }}</p>
        <p>End Time: {{ object.end_datetime }}</p>

        {% if object.description %}
        <h3>Description</h3>
        <p>{{ object.description }}</p>
        {% endif %}
    </div>


{% endblock %}