.majors_widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.majors_widget ul li {
  margin: 20px 0;
}
.majors_widget ul li a {
  display: block;
  float: right;
}
#carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 670px;
}
#carousel div {
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 670px;
}
a.navbar-brand {
  display: block;
  height: 85px;
  overflow: hidden;
}
a.navbar-brand img {
  margin-right: 15px;
}
.navbar-collapse {
  margin-top: 30px;
}
.row img {
  width: 100%;
}
table.list-view {
  width: 100%;
}
table.list-view thead {
  font-weight: bold;
}
table.list-view tbody tr {
  height: 40px;
}
.panel-heading {
  font-size: 24px;
  font-weight: bold;
}
.panel-footer {
  font-size: 12px;
}
.panel-footer p {
  padding: 0;
  margin: 0;
}
.panel-footer p.created-by {
  font-weight: bold;
}
.panel-footer p.timestamp {
  text-align: right;
}
div#create-comment button.submit {
  margin-top: 15px;
  float: right;
}
a#edit-button {
  float: right;
  margin-right: 20px;
}
