{% extends "base.html" %}
{% load fraternet_filters %}

{% block content %}

    <div class="col-sm-6">
        {% if object.picture %}<img src="{{ object.picture.url }}" >{% endif %}
    </div>
    <div class="col-sm-6">
        <div id="admin-buttons">
            {% if perms.rush.can_edit%}
                <a href="{% url 'edit_rushie' username=object.username %}" class="btn btn-default" id="edit-button">Edit</a>
            {% endif %}
            {% if perms.rush.can_delete %}
                <form method="post" action="{% url 'delete_rushie' username=object.username %}" id="delete-form">
                    {% csrf_token %}
                    <button name="delete" class="btn btn-default" value="yes">Delete</button>
                </form>
            {% endif %}
            {% if perms.vote.can_create %}
                <form method="post" action="{% url 'vote_status' %}" id="delete-form">
                    {% csrf_token %}
                    <button name="create" class="btn btn-default" value="{{ object.id }}">Create Poll</button>
                </form>
            {% endif %}
            <div id="nav-buttons">
            {% if prev_rushee %}
                <a class="btn btn-default" href="{% url 'rushie_detail' username=prev_rushee.username %}">Previous</a>
            {% endif %}
            {% if next_rushee %}
                <a class="btn btn-default" href="{% url 'rushie_detail' username=next_rushee.username %}">Next</a>
            {% endif %}
            </div>
        </div>


        <h2>{{ object.name }}</h2>

        {% if object.phone %}<p>Phone: {{ object.phone|phone }}</p>{% endif %}
        {% if object.grad_year %}<p>Graduation Year: {{ object.grad_year }}</p>{% endif %}
        <p>Email: <a href="mailto:{{ object.email }}" target="_blank">{{ object.email }}</a></p>
        <p>Majors: {{ object.list_majors }}</p>


    </div>

    {% include 'comments/rushie_comments.html' with rushie=object %}

{% endblock %}

{% block extra_js %}
    <script src="/static/js/compiled/RushieComments.js"></script>
{% endblock %}