{% block comments %}
    <h2>Comments</h2>

    <div id="comments-container">
        {% for comment in rushie.comments.all %}
            {% include "comments/single_comment.html" %}
        {% endfor %}
    </div>


    <div id="create-comment">
        <form action="./comment" method="post">
            {% csrf_token %}
            <textarea class="comment" name="comment" placeholder="Type Your Comment Here"></textarea>

            <input type="submit" class="btn" value="Comment">
        </form>
    </div>
{% endblock %}

